.c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c h2{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

.radius{
    border-radius: 15px;
}

.grey{
    background-color: darkgray;
}

.block__a{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.bottom__blocks{
    display: flex;
    column-gap: 20px;
}

.h_400{
    height: 400px;
}

.block__b{
    flex-grow: 2;
}
.block__c{
    flex-grow: 1;
}