body{
    margin: 0;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    border: 3px solid cornflowerblue;
}
.header_point{
    height: 40px;
    width: 100px;
    background-color: brown;
    border-radius: 10px;
}
.main{
    display: flex;
    width: 100%;
}
.content{
    /*height: 500px;*/
    flex-grow: 5;
    border: 3px solid cornflowerblue;
}
.third_block{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid cornflowerblue;
}
.third_block div{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}
.forth_block{
    /*height: 200px;*/
    width: 100%;
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    border: 3px solid cornflowerblue;
}
.forth_block div{
    height: 180px;
    width: calc(50% - 15px);
    background-color: darkorange;
}
.big_block{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fifth_block{
    flex-grow: 3;
    display: flex;
    row-gap: 15px;
    column-gap: 15px;
    padding: 15px;
    flex-wrap: wrap;
    border: 3px solid cornflowerblue;
    box-sizing: border-box;
    justify-content: space-around;
}
.fifth_block div{
    height: 200px;
    width: 45%;
    background-color: darkcyan;
}
.sixth_block{
    flex-grow: 1;
    border: 3px solid cornflowerblue;
    box-sizing: border-box;
    display: flex;
    padding: 15px;
    column-gap: 15px;
}
.six_left{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.six_left div{
    height: 100px;
    flex-grow: 1;
    background-color: darkcyan;
}
.six_right{
    flex-grow: 1;
    background-color: darkcyan;
}

.seventh_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    border: 3px solid cornflowerblue;
    box-sizing: border-box;
}
.s_big{
    height: 50px;
    width: 80%;
    background-color: brown;
    border-radius: 15px;
}

.s_small{
    height: 40px;
    width: 50%;
    background-color: cadetblue;
    border-radius: 10px;
}


