@media(max-width: 1200px){
    .nav{
        padding: 0 20px;
    }
}

@media(max-width: 1020px){
    .nav__points{
        display: none;
    }
    .burger{
        display: flex;
    }
    .main__block_1{
        flex-direction: column;
    }
    .main_title{
        align-items: center;
    }
    .main_title h1{
        text-align: center;
        margin-top: 20px;
    }
    .main_title p{
        align-items: center;
        text-align: center;
    }
}

@media(max-width: 500px){
    .main_title h1{
        font-size: 32px;
        line-height: 50px;
    }
    .main_title p{
        font-size: 13px;
        line-height: 20px;
    }
}