@media (max-width: 1100px){
    .main__page_header{
        padding: 0 20px;
    }
}
@media (max-width: 900px){
    .m__header_content{
        display: none;
    }
    .burger{
        display: flex;
    }
    .main__page_title{
        margin: 0;
        width: 100%;
    }
}
@media (max-width: 600px){
    .main__page_header{
        height: 70px;
    }
    .logo img{
        height: 30px;
    }
    .main__page_title h2{
             font-size: 30px;
             line-height: 35px;
         }
    .main__page_title h1{
        font-size: 40px;
        line-height: 46px;
    }
    .intro_block p{
        font-size: 22px;
    }
    .intro_block{
        padding-top: 15px;
        width: 310px;
        height: 280px;
    }

}