body{
    margin: 0;
    background-color: #fff;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block_header{
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block_header h2, h3{
    margin: 10px;
    text-transform: uppercase;
}
.main_header{
    height: 150px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m_head_img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: brown;
}
.m_head_points{
    display: flex;
    column-gap: 10px;
}

.main_title{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_title h1, h2{
    margin: 10px;
}
.sth_in_main{
    height: 30px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
}
.destinations{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}
.top_dest{
    display: flex;
    column-gap: 10px;
}
.left_t_dest{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-grow: 2;
}

.ltt{
    width: 100%;
    display: flex;
    column-gap: 10px;
}
.ltt_block{
    flex-grow: 1;
    height: 100px;
    background-color: cornflowerblue;
}
.ltb{
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
}

.right_t_dest{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-grow: 1;
}
.rr_block{
    width: 100%;
    flex-grow: 1;
    background-color: cornflowerblue;
}
.bottom_dest{
    width: 100%;
    display: flex;
    column-gap: 10px;
}

.bl_dest{
    height: 100px;
    flex-grow: 1;
    background-color: cornflowerblue;
}
.br_dest{
    height: 100px;
    flex-grow: 2;
    background-color: cornflowerblue;
}
.offers{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.offer{
    height: 200px;
    display: flex;
    align-items: center;
    column-gap: 25px;
    border: 4px solid brown;
    border-radius: 10px;
}

.offer_img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer_img h3{
    text-align: center;
}
.offer_cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.offer_cont h2, h3{
    margin: 0;
}
.footer{
    height: 200px;
    width: 100%;
    background-color: lightsteelblue;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.footer_cont{
    height: 100%;
    width: 20%;
    border: 5px solid black;
    padding: 8px 0 0 5px;
    box-sizing: border-box;
}

.fot_cont_images{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}
.foot_img{
    width: 30px;
    height: 30px;
    background-color: crimson;
    border-radius: 50%;
}

