@media (max-width: 1200px) {
    body > div {
        padding: 0 50px;
    }

    .s__b_content {
        flex-wrap: wrap;
        row-gap: 25px;
    }
}

@media (max-width: 800px) {
    .top__header {
        justify-content: center;
    }

    .main__header {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
    }

    .main {
        padding: 10px 50px;
    }

    .main__title {
        font-size: 40px;
    }

    .main p {
        width: 80%;
    }

    .second__block_inner {
        padding-left: 10px;
        padding-right: 10px;
    }

    .s__b_content {
        row-gap: 25px;
    }

    .t__block_point {
        padding: 5px;
    }

    .third__block {
        padding: 20px 50px;
    }

    .fourth__block_content {
        margin-top: 40px;
    }

    .f__b_point {
        width: 45%;
    }

    .fifth__block {
        padding-left: 0;
        padding-right: 0;
    }

}

@media (max-width: 600px) {
    .fourth__block {
        padding: 10px 0 0 0;
    }

    .f__b_point {
        width: 70%;
    }

    .fourth__block_content {
        justify-content: center;
    }

    .fifth__block {
        flex-direction: column;
    }

    .fifth__block_inn {
        width: 100%;
        height: 350px;
    }
}

@media (max-width: 430px) {
    .third__block {
        flex-direction: column;
        row-gap: 25px;
    }

    .circle {
        margin-bottom: 0;
    }

    .fifth__block_inn {
        padding: 10px;
    }

    .footer {
        height: 170px;
    }
}

@media (max-width: 400px) {
    .main {
        padding: 10px 20px;
        height: 600px;
    }

    .main__title {
        font-size: 20px;
    }

    .second__block {
        padding: 10px 20px;
    }

    .f__b_point {
        width: 90%;
    }
}

@media (max-width: 300px) {
    .footer {
        height: 200px;
    }
}