*{
    margin: 0;
}
body > div{
    width: 100%;
    padding: 0 130px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--blue);
}
:root{
     --bg-color: #CDD8E1;
     --aqua: #3AC6EA;
     --blue: #102B3E;
 }
body{
    background-color: var(--bg-color);
}

.y-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple__block{
    height: 170px;
    background-color: var(--blue);
    border-radius: 10px;
}

.top__header{
    height: 50px;
    background-color: var(--aqua);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
}
.top__header_item{
    width: 30px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--blue);
}
.main__header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__block{
    height: 70px;
    width: 180px;
    background-color: var(--blue);
    border-radius: 10px;
}
.m__header_points{
    height: 70px;
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
}
.m__header_points div{
    width: 40px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--blue);
}
.main{
    height: calc(100vh - 150px);
    background-color: var(--aqua);
    flex-direction: column;
    row-gap: 25px;
}
.main__title{
    font-size: 60px;
}

.main p{
    font-size: 20px;
    text-align: center;
    width: 50%;
}
.main__btn{
    height: 50px;
    width: 180px;
    background-color: var(--blue);
    border-radius: 25px;
    transition: .2s linear;
}
.main__btn:hover{
    background-color: #0B1D2A;
}

.second__block_inner{
    padding: 30px 0;
    border: 4px solid var(--aqua);
    border-radius: 20px;
    flex-direction: column;
    row-gap: 40px;
}
.s__block-point{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.s__b_content{
    column-gap: 25px;
}
.third__block{
    background-color: var(--blue);
    column-gap: 30px;

}

.t__block_point{
    cursor: pointer;
    padding: 30px;
    flex-direction: column;
    row-gap: 20px;
    transition: .2s;
    box-sizing: border-box;
    border: 3px solid var(--blue);
}
.t__block_point:hover{
    border: 3px solid var(--aqua);
}

.t__block_point h3,h4{
    color: var(--bg-color);
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
    background-color: var(--bg-color);
}

.fourth__block{
    flex-direction: column;
}

.fourth__block_content{
    margin-top: 80px;
    width: 100%;
    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.f__b_point{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 3px solid var(--aqua);
    border-radius: 10px;

}

.top__point{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    box-sizing: border-box;
}
.bottom__point{
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid var(--aqua);;
}
.b__point_right{
    height: 20px;
    width: 70px;
    background-color: var(--blue);
    border-radius: 10px;
}

.b__point_left{
    display: flex;
    column-gap: 10px;
}
.b__point_left div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--blue);
}
.fifth__block{
    margin: 100px 0;
    display: flex;
}
.fifth__block_inn{
    height: 400px;
    width: 50%;
    background-color: var(--blue);
    padding-left: 30px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 30px;
}
.fifth__block_inn *{
    color: var(--aqua);
}
.fif__b_btn{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: var(--aqua);
}
.mod{
    background-color: var(--aqua);
}
.mod *{
    color: var(--blue);
}
.mod > .fif__b_btn{
    background-color: var(--blue);
}
.footer{
    flex-direction: column;
    row-gap: 25px;
    height: 150px;
    background-color: var(--blue);
}
.footer__top{
    display: flex;
    column-gap: 15px;
}
.footer__top div{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--bg-color);
}
.footer h3{
    color: var(--aqua);
}