body{
    margin: 0;
}

*{
    box-sizing: border-box;
}
.header, .footer{
    width: 100%;
    height: 50px;
    border: 3px solid dodgerblue;
    border-radius: 5px;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    margin-top: 20px;
    border-color: chartreuse;
}

.main{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.content{
    width: 48%;
    height: 400px;
    border: 3px solid maroon;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.cont{
    width: 48%;
}
.text{
    font-size: 26px;
    padding: 5px 0 0 5px;
}

.imag{
    border-left: 3px solid maroon;
}

.imag img{
    width: 100%;
    height: 100%;
}